<%= form_for(report) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li ><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email_to %><br />
    <%= f.text_field :email_to, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-success"  %>
  </div>
<% end %>
