<div class="container reports">
  <h1>History</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sender</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Attachment name</th>
      <th>Attachment type</th>
      <th>Status</th>
      <th>Received error</th>
    </tr>
    </thead>
    <tbody>
      <% emails.each do |email| %>
        <tr>
          <td><%= email.email_from %></td>
          <td><%= email.subject %></td>
          <td><%= email.created_at %></td>
          <td>
            <% email.img_urls.each do |img| %>
              <%= img['filename'] %>
            <% end %>
          </td>
          <td>
            <% email.img_urls.each do |img| %>
                <%= img['type'] %>
            <% end %>
          </td>
          <td><%= email.status_formated %></td>
          <td><%= email.error_message %></td>
        </tr>
        <% unless email.img_urls.blank? %>
          <% email.img_urls.each do |img| %>
            <tr>
              <td colspan="7" style="text-align: center;"><img src='<%= img['url'] %>' class="img-rounded"></td>
            </tr>
          <% end %>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
