<%unless notice.nil? %>
    <div id='notice' class="alert alert-success"><%= notice %></div>
<%end%>
<div class="container reports">
  <div>
    <h1 class="title">Show report</h1>
      <h4>Title: </h4><%= @reports.title%>
      <h4>Email to:</h4><%= @reports.email_to%>
    </br>
    <div class="actions">
      <%= link_to 'Edit', edit_report_path(@reports), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', @reports, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back', reports_path%>
    </div>
  </div>
  <%= render 'history' %>
</div>

